.button {
  @apply text-secondary px-6 py-3 mx-2 text-lg rounded-sm bg-bgSecondary;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  row-gap: 4px;
  box-sizing: border-box;
}

.button:hover {
  opacity: 0.8;
}

.secondaryButton {
  @apply text-[#ECF7FD] bg-secondary text-lg block px-6 py-3 mx-2 rounded-sm;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  row-gap: 4px;
  box-sizing: border-box;
}

.secondaryButton:hover {
  opacity: 0.8;
}

.icon{
  @apply text-secondary
}

.alticon{
  @apply text-white
}
