---
import Chip from "./Chip.astro";

---
<section>
<div class="flex flex-col justify-center items-center gap-8">
  <Chip title="Backgrounds" />
  <h2>Partner in Transformation</h2>
  <div class="grid grid-rows-4 grid-flow-row row-gap-16">
    <div class="grid grid-cols-2 grid-flow-col justify-self-center gap-16 mb-8">
      <div class="flex flex-col gap-8 flex-1 col-start-1 mt-8">
        <h4>Era Digital: Transformasi Bisnis atau Tertinggal</h4>
        <p>
          Transformasi bisnis semakin menjadi kebutuhan perusahaan untuk sukses di era digital. Transformasi digital telah mengubah budaya global, terutama dengan munculnya generasi konsumen yang sangat menyukai  segala sesuatu yang serba digital. Konsumen yang mencari segala sesuatu dan berinteraksi satu sama lain secara digital. Dalam kondisi seperti ini, organisasi harus beradaptasi untuk bisa memenuhi keinginan dan kebutuhan pelanggan serta berbicara dengan bahasa mereka.
        </p>
      </div>
      <div class="flex flex-col gap-8 flex-1 col-start-2">
        <img
          src={"../../public/images/content/background-section-image1.png"}
          alt="A description of my image."
          class="object-cover w-full h-auto bg-cover rounded-md"
        />
      </div>
    </div>
    <div class="grid grid-cols-2 grid-flow-col justify-self-center mb-8 gap-16">
      <div class="flex flex-col gap-8 flex-1 col-start-1">
        <img
          src={"../../public/images/content/background-section-image2.png"}
          alt="A description of my image."
          class="object-cover w-full h-auto bg-cover rounded-md"
        />
      </div>
      <div class="flex flex-col gap-8 flex-1 col-start-2 mt-8">
        <h4>Perjalanan Transformasi Digital: Evolusi Menuju Masa Depan yang Cerah</h4>
        <p>
          Transformasi digital tidak bisa sekali jalan. Organisasi harus mengembangkan mentalitas dan budaya untuk terus mau berkembang, adaptasikan pelayanan dan sistem yang lebih cepat dan lebih sering, kontinu menerapkan teknologi baru untuk memenuhi kebutuhan pelanggan secara lebih baik. Apapun proses transformasi bisnis yang harus dilakukan organisasi, kunci utamanya tetap pada sumber daya manusia yang berkualitas.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-2 grid-flow-col justify-self-center content-center place-content-center mb-8 gap-16">
      <div class="flex flex-col gap-8 flex-1 col-start-1 mt-8">
        <h4>Membangun SDM Unggul: Fondasi Transformasi Digital yang Kokoh</h4>
        <p>
          Manusia merupakan sumber daya terpenting dalam organisasi sekaligus juga sebagai tiang penyangga dalam organisasi, seperti dikemukakan Martin Yates dalam bukunya “Keeping the Best: and Other Thoughts on Building a Super Competitive Workforce”: “The most valuable capital is human capital; the most powerful technology is people”. Sumber daya manusia yang kompeten merupakan asset kritis organisasi dalam melakukan transformasi dan meraih kesuksesan secara berkelanjutan.
        </p>
      </div>
      <div class="flex flex-col gap-8 flex-1 col-start-2">
        <img
          src={"../../public/images/content/background-section-image3.png"}
          alt="A description of my image."
          class="object-cover w-full h-auto bg-cover rounded-md"
        />
      </div>
    </div>
    <div class="grid grid-cols-2 grid-flow-col justify-self-center content-center place-content-center gap-16 mb-8">
      <div class="flex flex-col gap-8 flex-1 col-start-1">
        <img
        src={"../../public/images/content/background-section-image4.png"}
        alt="A description of my image."
        class="object-cover w-full h-auto bg-cover rounded-md"
        />
      </div>
      <div class="flex flex-col gap-8 flex-1 col-start-2 mt-8">
        <h4>MKI Consulting: Solusi Transformasi Bisnis Digital Terpercaya</h4>
        <p>
          PT Manajemen Kinerja Indonesia (MKI Consulting) merupakan perusahaan konsultansi dan training yang akan membantu organisasi dalam melakukan transformasi bisnis dengan sukses. Mulai dari menyusun blueprint transformasi organisasi hingga membantu organisasi melaksanakan transformasi organisasi dan mengembangkan pengetahuan, keahlian, sikap, dan perilaku sumber daya manusia yang tepat sebagai kunci sukses utama dari keberhasilan organisasi.
        </p>
      </div>
    </div>
  </div>
</div>
</section>
