<div class="relative bg-white dark:bg-gray-900 bg-banner bg-[50%] bg-cover">
  <!-- Backdrop -->
  <div class="absolute inset-0 bg-black bg-opacity-50 z-0"></div>
  
  <!-- Content -->
  <div class="relative py-24 mx-auto max-w-screen-xl text-left lg:py-44 z-10">
    <h1 class="mb-4 text-4xl tracking-tight font-medium leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      Partner in Transformation
    </h1>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
      Transformasi bisnis untuk sukses di era digital
    </p>
    <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 text-left justify-start">
      <p
        id="demo"
        onclick="myFunction()"
        class="inline-flex justify-center items-center px-5 text-base font-medium text-center text-white rounded-lg bg-primary focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 py-5 cursor-pointer"
      >
        Mulai Transformasi Anda
    </p>
    </div>
  </div>
</div>

<script>
const element = document.getElementById("demo")

if (element) {
  element.onclick = function() {
    myFunction();
  };
}

function myFunction() {
  console.log('test')
}
</script>

