---
import Image from "astro/components/Image.astro";
import ceoImg from "../../assets/core/CEO.png";
import Chip from "./Chip.astro";
---

<section>
  <div class="flex flex-col gap-8 h-full py-16 px-16 justify-center items-center">
    <Chip client:load title={"Person in Company"} fontSize={10}></Chip>
    <h1 class="font-semibold text-3xl">Founder and Director</h1>
    <div class="flex flex-row gap-12 items-start mt-8">
      <Image src={ceoImg} width={350} height={50} alt="Pak Syahmuharnis" densities={[1.5, 2]} loading="lazy"/>
      <div class="flex flex-col text-[1rem] font-normal text-wrap leading-8">
        <div id="title" class="text-2xl text-complementary">IR. SYAHMUHARNIS, MBA, CHRMP, CTMP, CMP</div>
        <br>
        <div id="paragraph">
          <p>Lama berkarir sebagai eksekutif dalam  beberapa industri pada bidang pemasaran, sumber daya usaha, dan perencanaan strategis, Syahmuharnis memiliki latar belakang pendidikan di Indonesia (IPB) dan tingkat lanjut dalam manajemen bisnis di Jepang (MBA, Tagukoshima BS-APU) dan Amerika Serikat (Executive Development Program, Stanford). Harnis, begitu dia sering dipanggil, memiliki kualifikasi certified dalam Balanced Scorecard, Blue Ocean Strategy, Leadership, Human Resource Management, Training Management, Manpower Planning, Risk Management selain International Bussiness Coach dari Leadership Management International (LMI), Texas, Amerika Serikat.</p>
          <br>
          <p>Syahmuharnis memulai karir consulting & learning awal 2.000-an di OTI Strategic Consulting dan MKI Consulting, dan saat ini selain memimpin PT Manajemen Kinerja Indonesia masih menjadi direktur PT Menara Kadin Indonesia. Klien kami mencakup perusahaan BUMN, swasta nasional dan multinasional terkemuka dalam berbagai industri, serta instansi pemerintah dan militer.</p>
        </div>
    </div>
  </div>
</section>