---
import { PrimaryButton } from "./Button.tsx";
import Chip from "./Chip.astro";
import Tabs from "./Tabs.tsx";
import TrainingList from "./TrainingList.astro";
---
<section>
<div class="h-auto w-full py-8 text-center">
  <div class="flex flex-col gap-8">
    <div class="flex-1 items-center justify-center">
      <Chip title="Services" bgColor="" >
    </div>
    <div class="flex-1 items-center justify-center">
      <h2>Layanan Kami</h2>
    </div>
    <Tabs client:load/>
    <TrainingList />
    <div class="mr-auto ml-auto">
      <PrimaryButton title="Lihat Event Lainnya →" primary={false}/>
    </div>
  </div>
</div>
</section>