---
import Chip from "./Chip.astro";

---
<section class="flex flex-col gap-4">
  <div>
    <Chip client:load title="Visi Kami" fontSize={14} bgColor={"bg-bgLightSkyBlue"} textColor={"text-altPrimary"}/>
    <h3 class="font-normal">“Menjadi Mitra Pilihan Utama Dalam <span class="text-altPrimary bg-bgLightSkyBlue ">Transformasi</span> Organisasi"</h4>
  </div>
  <div>
    <Chip client:load title="Misi Kami" fontSize={14} bgColor={"bg-bgLightSkyBlue"} textColor={"text-altPrimary"}/>
    <h3 class="font-normal">“Membantu Organisasi Bisnis Maupun Pemerintah Dalam Melakukan <span class="text-altPrimary bg-bgLightSkyBlue ">Transformasi</span> Organisasi Dengan Solusi yang Tepat"</h4>
  </div>
</section>